<div style="width: 80%; padding: 14px; background: lightcyan; border-width: 1px">
    <h1>Exemplu Sablon 1</h1>
</div>
<div style="float: left; width:40%; height: 40%; padding: 4px; border: solid blue">
    <h2>Coloana 1</h1>
    Text in coloana 1
</div>
<div style="float: left; width: 40%; height: 40%; padding: 4px; border:solid aqua;">
    <h2>Coloana 2</h2>
    Text in coloana 2
</div>
<div style="float: right; width: 20%; padding: 14px; background: lightgrey; border-width: 1px">
    <h2>Rand 2</h2>
    Text sfarsit pagina
</div>